<div>
  <%= render "_flash_notification.html", message: get_flash(@conn, :info), color: "blue" %>
  <%= render "_flash_notification.html", message: get_flash(@conn, :error), color: "red" %>
  <%= @inner_content %>
</div>
