<h1>Dashboard</h1>

<p>Current User: <%= @current_user.email %></p>
<p>Current Organization: <%= @current_user_org_membership.organization.name %> (<%= @current_user_org_membership.organization.slug %>) </p>
<p>Current roles: <%= Enum.join(@current_user_org_membership.roles, ", ") %></p>
